html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
// :root {
//   --primary-text-color: #212121;
//   --secondary-text-color: #757575;
//   --accent-color: #2196f3;
//   --contrast-background-color: #2f303a;
//   --white-color: #ffffff;
//   --secondary-backround-color: #f5f4fa;
//   --footer-color: rgba(255, 255, 255, 0.6);
//   --hover-button-color: #188ce8;
// }
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  color: $primary-text-color;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
